body {
  background-image: url(clouds.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.contact {
  justify-content: space-evenly;
  align-items: center;
  border: 5px solid darkblue;
  float: left;
  width: 25%;
  padding: 10px 8px 10px 10px;
  margin-bottom: 25px;
  background-color: blueviolet;
  opacity: 25%;
  box-shadow: 10px 10px 8px 10px rgba(236, 240, 241, 0.2);
  transition: all 0.5s ease;
}
.contact:hover {
  color: blanchedalmond;
}
#contactList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.contactName {
  font-size: 2em;
}
.contactTitle {
  font-size: 1.5em;
}
.contactemail {
  font-size: 1em;
}
